# ignore video & image file
*.mp4
*.zip
*.avi

# ignore don't need folder
DeepSORT_YOLOv5_Pytorch-master
LivingLab-Smart-Street-Lamp
Yolov5_DeepSort_Pytorch-master
MOT16_eval

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
